@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');
*{
  margin: 0px; 
  font-family: 'Montserrat'; 
}

h2{
    margin-left: 25px;
    margin-bottom: 25px;
    font-weight: 700;
}
h3{
    margin-left: 25px;
    font-weight: 600;
}
p{
    font-weight: 300;
    padding: 30px;

}